<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
</head>
<body style="background-color: #AFEEEE ">
  <form action="/" method="get">
    <button type="submit">Back</button>
  </form>

  <form action="/created" method="post">
    <hr>
    <input type="text" name="articleName" placeholder="Name">
    <input type="text" name="articleAuthor" placeholder="Author">
    <input type="text" name="articleTags" placeholder="Tags">
    <hr>
    <input type="text" name="articleContent" placeholder="Main text">

    <input type="submit" value="Create">
  </form>

</body>
</html>